.links{
    margin-bottom: 58px;

    &__list {
        display:flex;
        align-items: center;
        
    }

    &__item {
        margin-right: 26px;
        font-weight: $medium;

        &:last-child {
            margin-right: 0;
        }
    }
}