
.location {
    display: flex;
    margin-right: 104px;
  
    &__icon {
      width: 13px;
      height: 16px;
      margin-right: 17px;
    }

    &__select {
      font-size: 16px;
      line-height:19px;
      font-weight: $medium;
      font-style: normal;
      margin-left:4px;
      appearance: none;
      background-color:$black;
      -webkit-appearance: none;/* Chrome */
      -moz-appearance: none;/* Firefox */
      appearance: none;
      color:$white;
      border: none;
      cursor: pointer;
      
      &:focus-visible {
       outline:transparent;
      }
      
    }
  }