//px
$containerWidth: 1920px;
$baseFontSize: 16px;

//colors
$grey: #979797;
$greyBlack: #555555;

$white: #ffffff;
$black: #252525;
$violet: #5F39E7;
$green: rgba(39, 234, 117, 0.3);
$blue: #1771F1;
$red: #E92222;
$blueStrong:#062CB4;
$blueLigth: #0066CC;
$whiteBlue: #F9F9F9;

//font-weight
$bold: 700;
$semi-medium: 600;
$medium:500;

//font 
$font: "Montserrat", sans-serif;